/* Estilo para remover o sublinhado dos links */
a {
  text-decoration: none; /* Remove o sublinhado */
}

/* Estilo do container principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* Fundo azul */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Inclui padding e border nas dimensões */
}

/* Estilo da página inicial */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw; /* Ocupa 100% da largura da viewport */
  height: 100vh; /* Ocupa 100% da altura da viewport */
  background-color: #0d4f83; /* Cor de fundo */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Inclui o padding nas dimensões totais */
}

/* Estilo do container da foto de perfil e do nome */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo da imagem de perfil (circular) */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
}

/* Estilo do nome de usuário */
.profile-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
}

/* Estilo dos botões */
.image-button {
  width: 250px;  /* Aumenta a largura */
  height: 60px;  /* Altura para um botão mais cilíndrico */
  margin: 10px;
  background-color: #a1c8d3;  /* Azul claro */
  color: #ffffff;
  border: none;
  border-radius: 30px;  /* Bordas arredondadas */
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.image-button:hover {
  background-color: #8fbac4;  /* Cor um pouco mais escura no hover */
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
