/* Estilo para remover o sublinhado dos links */
a {
  text-decoration: none;
}

/* Estilo do container principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000; /* Azul claro */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilo da página inicial */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Estilo do container da foto de perfil e do nome */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo da imagem de perfil (circular) */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  object-fit: cover;
}

/* Estilo do nome de usuário */
.profile-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

/* Estilo dos botões personalizados */
.custom-button {
  position: relative;
  width: 300px;
  padding: 15px;
  background-color: #a1c8d3; /* Azul claro */
  color: #003366; /* Azul escuro */
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
  transition: transform 0.2s;
}
.custom-button-foto {
  position: relative;
  width: 300px;
  padding: 15px;
  background-color: #000000; /* Azul claro */
  color: #003366; /* Azul escuro */
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  transition: transform 0.2s;
}
.custom-button:hover {
  transform: scale(1.05);
}

/* Estilo para o texto secundário (CLIQUE AQUI) */
.button-subtext {
  display: inline-block;
  font-size: 0.8em;
  margin-top: 8px;
  color: #ffffff; /* Texto branco */
  font-weight: normal;
  padding: 4px 12px;
  background-color: #003366; /* Fundo azul escuro */
  border-radius: 12px; /* Bordas arredondadas */
}
